<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Success Page</title>
</head>
<body>
    <h1>Upload Successful</h1>
    <p>Image Name: <%= title %></p>
    <img src= <%= image1Path %> alt="img">
    <img src= <%= image2Path %> alt="img">
</body>
</html>