<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Single Photo Upload</title>
</head>
<body>
    <h1>Upload Image</h1>
    <form action="/" method="post" enctype="multipart/form-data">
        <label for="image1">Upload Image here</label>
        <input type="file" name="image1" id="image">
        <label for="image2">Upload Image here</label>
        <input type="file" name="image2" id="image">
        <label for="name">Name of the Image</label>
        <input type="text" name="ImageName">
        <input type="submit" value="Upload the Image">
    </form>
</body>
</html>